html * {
    font-family: 'Share Tech Mono', monospace; /* TODO: Find a better font */
}

body {
    background: #f0f0f0;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

a {
    color: rgb(0, 0, 200);
    text-decoration: none;
    border-bottom: 1px dashed rgb(0, 0, 200);
}

a:active {
    color: rgb(0, 0, 200);
}

a:hover {
    background-color: #efefef;
}

h1 {
    display: block;
    margin: 5 14 5 0;
    font-size: 2em;
    font-style: bold;
}

p {
    margin: 10px 5px;
}

h2 {
    display: block;
    margin: 10 0;
    padding-bottom: 0;
    font-size: 1.4em;
    font-style: bold;
}

h3 {
    display: block;
    margin: 10 0 5 0;
    padding-bottom: 0;
    font-size: 1.3em;
    font-style: bold;
}

pre {
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: #e7e9ee;
    border-radius: 4px;
    white-space: pre-wrap;
}

code {
    word-wrap: break-word;
}

.inline-block {
    display: inline-block;
}

.home {
    display: block;
    width: 100%;
    background-color: #65737e;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
    min-height: 100%;
}

.docs {
    padding: 0% 0% 0% 1%;
    margin: 1% 1%;
}

.header-link a {
    display: block;
    width: 100%;
    margin: auto;
}

.docs::after {
    content: "";
    display: table;
    clear: both;
}

.view {
    background-color: #fefefe;
    padding: 5% 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
	background-color: white;
    text-align: left;
    max-width: 900px;
}

.light {
    box-shadow: 3px 3px 3px grey;
}

.dark {
    box-shadow: 3px 3px 3px #252525;
}

.centered {
    text-align: center;
}

.view.bar {
    float: left;
    padding: 0% 0%;
    margin: 0% 0%;
    width: 300px;
}

.view.main {
    margin-left: 320px;
    margin-right: auto;
}

#hero {
    padding: 0px 10%;
}

#hero .left {
    float: left;
    padding: 0% 0%;
    margin: 0% 0%;
    width: 200px;
}

#hero .right {
    margin-right: auto;
}

.header {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #a7adba;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
}

.header::after {
    content: "";
    display: table;
    clear: both;
}

.header li {
    padding: 10px, 5px;
    background: #a7adba;
    margin: 0;
    overflow: hidden;
}

.header li a:hover {
    background-color: #c0c5ce;
    cursor: pointer;
}

.header li a {
	color: black;
    display: block;
    font-size: 16pt;
    padding: 17px;
    text-decoration: none;
    text-align: center;
}

#header-image {
    float: left;
    color: black;
    display: block;
    font-size: 16pt;
}

#header-image img {
    padding: 5;
}

#hero img {
    margin: 10;
}

#hero div {
    margin-left: 210px;
}

#hero div a {
    background: none;
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    color: black;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

#hero div a:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

#hero div a:active {
    color: black;
}

#hero div a:focus {
    outline: none;
}

.header-link {
    display: block;
    float: right;
    height: 100%;
}

.bar h1 {
    display: block;
    font-size: 30pt;
    margin-bottom: 30px;
}

table, th, td {
    border: none;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    background-color: #65737e;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

td {
    padding: 6px;
    text-align: left;
}

.bar {
    text-align: center;
}

div.bar ul {
    list-style: none;
    padding: 5px 15px;
    text-align: left;
}

div.bar ul li {
    padding-top: 4px;
    padding-bottom: 4px;
}

div.bar ul li:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.docs input {
    outline-width: 0;
    border: none;
    border-bottom: 1px solid #aaa;
}

.docs input:focus{
    border-color: #2196f3;
    outline: none;
}

.docs select {
    outline-width: 0;
    border: none;
}

.docs select:focus {
    outline: none;
}

.arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

#see-in-action-link {
    color: black;
    margin: 20 10%;
    display: block;
    padding: 20 20;
    background-color: #f0f0f0;
    text-decoration: none;
    font-size: 20pt;
    border: 1px solid #d0d0d0;
}

#see-in-action-link:active {
    color: black;
    font-style: normal;
    text-decoration: none;
}

#see-in-action-link:hover {
    background-color: #e0e0e0;
}

.rotated {
    transform: rotate(180deg);
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    60% {
        -moz-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    60% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    60% {
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}

.parameter-table, .parameter-table th, .parameter-table td {
    border: 1px solid black;
}

.parameter-table {
    border-collapse: collapse;
    margin: 20px, 10px;
}

.attribute {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
    border-radius: 3px;
    font-style: italic;
}

.abstract {
    border: 1px solid #8d9aa5;
    background-color: #c2d3e0;
    color: #292c30;
}

.static {
    border: 1px solid #b3b091;
    background-color: #e0dec2;
    color: #292c30;
}

.doc-item {
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed black;
}

.doc-item:active {
    color: black;
}

.doc-item:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.fill {
    display: block;
    width: 100%;
    height: 100%;
}